body {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   background: var(--Tangopink);
}

:root {

   --plantinum: #EBE8E7;
   --Tangopink: #EA7186;
   --Organgeyellow: #F2C76E;
   --toolbox: #7A7789;
   --brightlavender: #BD9DEA;

}

html {
   scroll-behavior: smooth;
}


header {
   display: block;
   justify-content: center;
   font-family: Georgia, 'Roboto', Open Sans, Helvetica Neue, sans-serif position: top: 0;
   padding: 5px;
}

.name {
   font-size: 80px;
   font-family: 'Roboto', Open Sans;
   display: flex;
   justify-content: center;
   color: var(--plantinum);

}

li {
   list-style: none;
   display: inline;
   justify-content: space-between;
   margin: 0px 50px;

}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px;
   background-color: var(--toolbox);
   font-size: 60px;
   color: var(--Organgeyellow);
   gap: 20px;

}

#navigate {
   text-decoration: none;
   background-color: none;
   color: var(--Organgeyellow);

}

.fig {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   position: relative;
   text-align: center;
   z-index: 0;

}

.fig {
   background-image: url(/assets/images/background_imageP.png);
   height: 754px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right;
   margin: 0 0;
   display: flex;

}

 .intro {
    
   left: 0px;
   /* margin: ; */
   font-size: 50px;
   /* color: var(--brightlavender); */

 
}

p {
   display: flex;

}

.About {
   margin: 10px 5px 10px 25px;
   font-size: 40px;
}

.About_margin p {
   display: flex;
   margin: 20px 5px 10px 50px;
   font-size: 30px;
}


/* About p {
   background: url(./assets/images/Background_image.png) no-repeat;
   z-index: -1;
   position: absolute;
   width: auto;
   height: auto;

} */


.Projects {
   display: flex;
   justify-content: space-around;
   margin: 10px 5px 10px 25px;
   font-size: 40px;
}


image_zoom {
   width: 400px;
   height: 400px;
   transition: tansform 0.3s ease;
}

.image_zoom:hover {
   transform: scale(1.2);

}

.descrip {
   text-align: center;
   width: 30%; 
   margin: 10px 5px 10px 30px; 

}

.descrip a img {

   margin-top: 50px;
}

.descrip h3 {
   margin-top: 100px;

}

.descrip p {
   margin-bottom: 10px;
}

.Contact {
   display: flex;
   height: 100%;
   position: relative;
   margin: 0 auto;
   margin: 10px 5px 10px 25px;
   font-size: 40px;

}

.Contact h {
   margin: 10px 5px 10px 40px;

}

a.contact_link {
   display: flex;
   text-decoration: none;
   margin: 250px 5px 10px 10px;

}

.form_contact {

   margin: 150px 5px 10px 50px;

}


footer {
   display: flex;
   padding: 20px;
   background-color: var(--brightlavender);
}

footer p {

   margin-left: 400px;
   font-size: 25px;
}

@media screen and (min-width: 992px) {
   main {
      flex-direction: row;
   }
}

@media screen and (min-width: 768px) {
   main {
      flex-direction: row;
   }
   .intro {
      max-width: 30%;
   }

}

@media screen and (max-width: 768px) {

   main,
   {
   flex-direction: row;

 }
}